.u-section-1 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.05), rgba(0,0,0,0.05)), url("images/nargilea.jpg");
  background-position: 50% 50%;
}

.u-section-1 .u-sheet-1 {
  min-height: 714px;
}

.u-section-1 .u-text-1 {
  font-size: 9.375rem;
  font-weight: 700;
  line-height: 1;
  margin: 310px 278px 0 -277px;
}

.u-section-1 .u-text-2 {
  width: 549px;
  font-size: 0.875rem;
  letter-spacing: 6px;
  text-transform: uppercase;
  margin: 87px auto 60px;
}

.u-section-1 .u-btn-1 {
  border-style: none;
  padding: 0;
}

@media (max-width: 1199px) {
  .u-section-1 .u-sheet-1 {
    min-height: 589px;
  }

  .u-section-1 .u-text-1 {
    font-size: 7.5rem;
    margin-left: 0;
    margin-right: 0;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-sheet-1 {
    min-height: 451px;
  }

  .u-section-1 .u-text-1 {
    font-size: 6.25rem;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-sheet-1 {
    min-height: 529px;
  }

  .u-section-1 .u-text-1 {
    font-size: 4.5rem;
    margin-top: 300px;
  }

  .u-section-1 .u-text-2 {
    width: 540px;
    margin-bottom: 40px;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-sheet-1 {
    min-height: 401px;
  }

  .u-section-1 .u-text-1 {
    font-size: 3rem;
    margin-top: 210px;
  }

  .u-section-1 .u-text-2 {
    width: 340px;
  }
}